@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

.navigator-full div {
  width: 100%;
}


.scrollbar-thin {
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
    scrollbar-width: thin;
}


.scrollbar-thin::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    border-radius: 25px !important;
    cursor: pointer !important;
    background: transparent !important;
}

.scrollbar-thin::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 25px !important;
}

.scrollbar-only-hover::-webkit-scrollbar-thumb {
    background: transparent !important;
}

.scrollbar-only-hover:hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1) !important;
}
